.container {
    background-color: rgb(0, 0, 0);
    margin-right: -5px;
    margin-bottom: -2%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    color: rgb(255, 255, 255);
}
.hh{
    font-size: 17px;
}
.columns {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    gap: 3em;
    flex-direction: row;
}

.titulo {
    font-size: 18px;
    color: rgb(154, 154, 154);
}

/* Agregamos reglas CSS para los elementos <p> dentro de .column */
.column {
    display: flex; /* Para que los elementos <p> se coloquen uno al lado del otro */
    align-items: center; /* Para centrar verticalmente los elementos <p> */
}

.column p {
    cursor: pointer;
    transition: transform 0.85s;
}

.link {
    color: white;
}
